<?= $this->insert('overall/header') ?>
  <body>
    <div class="container">
      <div class="presentacion center">
        <div class="row">
          <div class="col-xs-12">
            <h1>Sistema Bibliotecario</h1>
            <p>Framework MVC PHP 7. Para expertos y aprendices.</p>
            <p>Estás usando <a href="http://platesphp.com/" target="_blank">PlatesPHP</a> :)</p>

            <div class="documentacion">
              <a class="fa fa-youtube" href="https://www.youtube.com/playlist?list=PLDQZoQpLCoUBVbDUxr8cxVX0ik8uh5WBh" target="_blank"></a>
              <a class="fa fa-github"  href="https://github.com/prinick96/Ocrend-Framework/wiki" target="_blank"></a>
              <a class="fa fa-globe" href="http://framework.ocrend.com" target="_blank"></a>
            </div>

          </div>
          <div class="col-xs-12 botones">
            <?php if (!isset($_SESSION[SESS_APP_ID])): ?>
              <a href="#" data-toggle="modal" data-target="#iniciar_sesion" class="btn btn-sm btn-primary">
                <i class="glyphicon glyphicon-user"></i> Empezar
              </a>
              <a href="#" data-toggle="modal" data-target="#registro" class="btn btn-sm btn-primary">
                <i class="glyphicon glyphicon-list-alt"></i> Registro
              </a>

            <?php else: ?>
              Bienvenido usuario de <b>id: <?= $_SESSION[SESS_APP_ID] ?></b>, <a href="logout/">Salir</a>
            <?php endif ?>
          </div>
        </div>
      </div>
    </div>
    <?= $this->insert('overall/footer') ?>
  </body>
</html>
